@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;
}

body {
  background-color: #ffffff;
  color: #111111;
}
.h1-xd{
  text-align: center;
  /*margin-top: 6em;*/

}
/* ========== Tableau Admin ========== */
header {
  box-shadow: -4px 1px 15px rgba(0, 0, 0, 0.37);
  padding: 0.5em;
  width: 100%;
  text-align: center;
  background: white;
  font-size: 1.5rem;
  margin-bottom: 1em;
}
header nav{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header form button{
  padding: 0.5em 1em;
  border: none;
  background: #dc2d2d;
  outline: none;
  color: white;
  cursor: pointer;
}
header p{
  font-size: 0.5em;
  color: #dc2d2d ;
}
header nav a {
  text-decoration: none !important;
  color: black;
  font-weight: bold;
}
header nav{
  text-align: center;
  margin-left: 1.5em;
}
table {
  width: 97%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #333;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:hover {
  background-color: #ddd;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
h2 {
    text-align: center;
      margin-top: 40px;
}
/* ========== Formulaire Ajout/Modification ========== */
.form1{
  text-align: center;
  margin: 1em 0em;
}
.form {
  background-color: #fff;
  padding: 20px;
  margin: 30px auto; /* Centrage horizontal */
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}


.form input[type="text"],
.form input[type="number"],
.form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f2f2f2;
}

.form button {
  background-color: #222;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #444;
}
.category-form {
  margin: 40px auto; /* centré + espace en haut/bas */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

