
.cart{
    color: #333;
    width: 400px;
    min-height: 100vh;
    z-index: 999999999;
    background: white;

    display: none;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}
.cart::before{
    content: "";
    background: rgba(192,192,192,.6);
    z-index: -1;

    width: calc(100vw - 400px);
    height: 100vh;
    position: absolute;
   right: 400px;

}
.items-container{
    overflow: scroll;
    height: 75%;
}
i{
    cursor: pointer;
}
.header-text{
    padding: 1em 1.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
}
.item{
    padding: 1em 1.75em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    img{
        width: 80px;

        object-fit: cover;

    }
    .item-info{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75em;
    }
    .bottom, .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .top a{
        text-decoration: none;
        color: black;
    }
    .item-remove{
        font-size: 0.9em;
    }
    .item-addition{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
    }

}
.cta{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 1.75em;

    gap: 0.3em;
    .sous-total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .panier, .commander{
        cursor: pointer;
        width: 100%;
        padding:0.5em 0em;
        height: 40px;
    }
    .panier{
        background: white;
        border:1px solid black;
    }
    .commander{
        background: black;
        color: white;
    }
}
.items-counter{
    font-size: 0.8em;
    margin-left: 0.3em;
}