body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h3 {
    margin-top: 30px;
    font-size: 18px;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #19191a;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #0d0d0e;
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ccc;
}