body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}

.product-detail {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background: white;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-top: 6em;
}

.image-section {
    flex: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.info-section {
    flex: 1;
    padding: 40px;
}

.info-section h1 {
    font-size: 26px;
    margin-bottom: 15px;
}

.price {
    font-size: 22px;
    color: #444;
    margin-bottom: 15px;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.add-to-cart {
    background-color: black;
    color: white;
    padding: 20px 100px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.add-to-cart:hover {
    background-color: #333;
}

.back-link {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}
.details-discount{
    font-size: 0.7em;
    margin-left: 0.5em;
    color: indianred;
    border-radius: 50px;
}
@media (max-width:660px){
    .product-detail{
        flex-direction: column;
    }
    img{
        width: 300px;
    }
}