@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}

.main-content{
    padding:2em 1.25em;
}

#image-slider{
    margin-top: 3em;

}
.splide__slide {
    height: 600px;
    width: 600px;
    position: relative;
    img{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.splide__arrow{
    font-size:18px;
    background: rgba(255, 255, 255, 0) !important;

}
.slide-text {
    position: absolute;
    top: 60px;
    left: 30px;
    margin-left: 1.3em;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.ordinary .slide-text{
    width: 30px;
    top:40%;
    transform: translateY(-50%);
}
.priorin h2 {
    color: #BDAF88;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
}
.priorin .highlight-text{
    text-transform: uppercase;
    display: block;
    margin: 1.5em 0em;
}
.priorin a{
    color: black;
    text-decoration: none;
    padding: 0.75em 1em;
    font-size: 0.75em;
    border: 3px solid black;
}
.vitamines h2{
    width:200px;
    font-weight: 500;

    font-size: 0.8em;
}
.vitamines .highlight-text{
    display: block;
    margin: 1em 0em;
    color: #333;
    width: 300px;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
}
.vitamines a{
    text-decoration: none;
    color: white;
    background: #B9A16B ;
    font-size: 0.65em;
    padding: 0.5em 0.75em;
}
/*.highlight-text {*/
/*    background-color: rgba(0, 0, 0, 1); !* or any color *!*/
/*    color: white;*/
/*    display: inline; !* ensures background hugs only text *!*/
/*    padding: 4px 8px; !* optional for spacing *!*/
/*    border-radius: 4px; !* optional for rounded background *!*/
/*}*/
.splide__slide.is-active .slide-text {
    opacity: 1;
    transform: translateY(0);
}
.category-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2em;
}

.category-card {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.card-content {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 1.5rem;
    color: white;
    height: 100%;
}

.card-content .category-label {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #dfd1ba;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}

.card-content h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
}

.card-content .category-desc {
    font-size: 1rem;
    color: antiquewhite;
    margin-bottom: 1rem;
}

.discover-btn {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.discover-btn:hover {
    background-color: #000;
    color: #fff;
}


.about{
    background:#EDEAD3;
    padding: 2em 1em;
    text-align: center;

}
.about h1{
    text-transform: uppercase;
    color: #B9A16B;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 0.3em;
}
.about h2{
    color: rgb(0,0,0,0.85);
    font-size: 1.3em;
    font-weight: 600;
}
.features{
    margin-top: 2.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1.75em;
    color: #403f3f;
}
.feature{
    font-weight: 300;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    /*width: 400px;*/
}
.feature i{
    font-size: 2.2rem;
}
.fa-check{
    border: 2px #403f3f solid;
    border-radius: 50%;
    padding: 0.3em 0.4em;
}
.feature h3{
    font-weight: 400;

    font-size: 1.55em;
}
.feature p{
    color: rgba(0, 0, 0, 0.74);
    font-size: 1.1em;
    line-height: 1.55em;
}
.promotion{
    background: url("../images/promotions.webp") no-repeat ;
    background-position: center;
    background-size: cover;

    padding: 4em  2em;
}
.promotion p{
        color: #BAA472;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.promotion h1{
    font-weight: 400;
    margin-top: 0.7em;
    font-size: 1.6em;
    margin-bottom: 1.5em;
}
.promotion a{
    color: #BAA472;
    padding: 1em 2em;
    text-decoration:none;
    border: 1.5px solid #BAA472;;
}
/* desktop layout */
@media  (min-width: 991px){
    #image-slider{
        margin-top: 5em;
    }
}
@media (min-width: 768px){
    .main-content {
        padding-left: 3em;
        padding-right: 3em;
    }



    .card-content h3 {
        font-size: 1.4rem;
    }

    .card-content p {
        font-size: 1rem;
    }
}
@media (min-width:1000px){
    .category-section {
        max-width: 1000px;
        margin:0 auto;
        flex-direction: row;
        flex-wrap:wrap;
        margin-top: 2em;
    }

    .category-card {
        flex-basis: 483px;
        height: 250px;
    }
}
@media (min-width: 694px){

    .feature{
        width: 300px;
    }
    .promotion{
        font-size: 1.5rem;
    }
    .ordinary .slide-text{
        width: 100%;
        top:40%;
        font-size: 3em;
        transform: translateY(-50%);
    }
    .priorin h2 {
        color: #BDAF88;
        font-weight: 400;
        text-shadow: 1px 1px 1px black;
    }
    .priorin .highlight-text{
        text-transform: uppercase;
        display: block;
        margin: 1.5em 0em;
    }
    .priorin a{
        color: black;
        text-decoration: none;
        padding: 0.75em 1em;
        font-size: 0.75em;
        border: 3px solid black;
    }
    .vitamines.slide-text{
        left:65%;
    }
    .vitamines .highlight-text{
        width: 400px;

    }
    .vitamines h2{
          font-weight: 500;
    width: 500px;
        font-size: 1.2em;
    }
    .vitamines .highlight-text{
        display: block;
        margin: 1em 0em;
        color: #333;
        font-weight: 400;
        font-size: 1em;
        text-transform: uppercase;
    }
    .vitamines a{
        width: 800px;

        text-decoration: none;
        color: white;
        background: #B9A16B ;
        font-size: 0.8em;
        padding: 0.5em 0.75em;
    }
}
