


/* Dashboard content */
.dashboard-content {
  flex: 1;

}

.dashboard-content p {
  font-size: 16px;
  line-height: 1.6;
}
.dashboard-content p:first-child{
  margin-bottom: 0.75em;
}
.dashboard-content a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.dashboard-content a:hover {
  text-decoration: underline;
}
